@font-face {
    font-family: 'TT Lakes';
    src: local('TTlakes/TT Lakes Regular'), local('TTLakes-Regular'),
        url('TTLakes-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
.container{
    max-width: 1220px;
    margin:auto;
    box-sizing: border-box;
    background-color: #F8F8F8;
    padding-top: 40px;
    margin-top: 0px;
    font-family: 'TT Lakes', 'Arial', sans-serif;
}
/**************Шапка сайта - начало ***************/
.header{
    display: flex;
    margin-left: 30px;
    align-items: center;
}
.menu{
    margin-right: 10px;
    margin-left: auto;
}

.menu a:first-child::after{
    content: " ";
    display: inline-block;
    vertical-align: middle;
    width: 40px;
    height: 40px;
    background: url("photo/Group.svg") no-repeat 50% 50%;
    border-radius: 50%;
    background-color:  #FF3E79;
    margin-right: 10px;  
    margin-left: 5px;

}
.menu a:last-child::after{
    content: " ";
    display: inline-block;
    vertical-align: middle;
    width: 40px;
    height: 40px;
    background: url("photo/icon.svg") no-repeat 50% 50%;
    border-radius: 50%;
    background-color:  #FF3E79;
    margin-right: 10px; 
    margin-left: 5px;
}
a{
    font-size: 12px;
    letter-spacing: -0.2;
    text-decoration: none;
    color: black;
}
.menu a{
    font-size: 14px;
    font-weight: bold;
}
.menu a:hover{
    color: cornflowerblue;
    transition: 0.2s;
} 
.navigation{
    display: flex;
    margin-top: 20px;
    text-align: center;
    flex-wrap: wrap;
}
.navigation a{
    width: 200px;
    height: 35px;
    border: 1px solid #F8F8F8;
    padding-top: 18px;
}
.navigation a:hover{
    background-color: #ffffff;
    border: 1px solid rgb(24, 180, 139);
    border-radius: 5px;
    transition: 0.2s;

}
/****************** Шапка сайта - конец******************/
.section{
    display: flex;
    flex-wrap: wrap;
    margin-top: 20px;
}
.info{
    width: 490px;
    margin-left: 30px;
    margin-right: 50px;
}
.logo{
    border-radius: 5px;
}
/* Сброс стилей у кнопки */
.read_more {
    border: none;
    border-radius: 0;
    background-color: transparent;
    padding: 0;
    text-decoration: none;
    color: inherit;
  }
  /************/
.read_more{
    outline: none;
    cursor: pointer;
    margin-right: auto;
}
.read_more:hover{
    color: cornflowerblue;
    transition: 0.2s;
}
.read{
    font-weight: bold;
}
.read_more::before{
    content: " ";
    height: 15px;
    width: 15px;
    display: inline-block;
    vertical-align: middle;
    margin-right: 5px;
    background: url("photo/read_more.svg") no-repeat 50% 50%;
} 
