@font-face {
    font-family: 'TT Lakes';
    src: local('TTlakes/TT Lakes Regular'), local('TTLakes-Regular'),
        url('TTLakes-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
html, body{
    margin: 0;
    padding: 0;
    max-width: 1220px;
    box-sizing: border-box;
    min-width: 320px;
}
.main{
    width: 320px;
    min-width: 320px;
    position: absolute;
    box-shadow: 10px 0 30px rgba(163, 117, 117, 0.25);
    font-family: 'TT Lakes', 'Arial', sans-serif;
}

.header{
    display: flex;
}
/*Сбрасываем стили кнопок*/
.exit, .search, .phone, .message, .contact,
.ru, .en, .ch {
    border: none;
    border-radius: 0;
    background-color: transparent;
    padding: 0;
    text-decoration: none;
    color: inherit;
    outline: none;
}
.logo{
    margin-left: 10px;
    margin-right: auto;
}
.exit{
    margin-left: 20px;
}
.header .search{
    margin-right: 30px;
}
.logo, .search, .exit{
    margin-top: 20px;
    height: 40px;
}

.search::before{
    content: '';
    width: 40px;
    height: 40px;
    display: inline-block;
    background: url("photo/img/search.svg") no-repeat 50% 50%;
    background-color: #FF3E79;
    border-radius: 50%;
    transition: 0.2s;
}
.exit::before{
    content: '';
    width: 40px;
    height: 40px;
    display: inline-block;
    background: url("photo/img/close.svg") no-repeat 50% 50%;
    background-color: #FF3E79;
    border-radius: 50%;
    transition: 0.2s;
}
.exit:hover::before,  .search:hover::before{
    background-color: rgb(62, 62, 221);
}
.exit:hover::before{
    transform: rotate(90deg);
}
.search:hover::before{
    transform: rotate(90deg);
}
/******* Здесь был header *********/
.list{
    list-style: none;
    margin-top: 50px;
    padding-left: 0;
}
.list a{
    display: inline-block;
    border-radius: 7px;
    height: 35px;
    width: 250px;
    line-height: 35px;
}
a{
    text-decoration: none;
    color: #1B1C21;
}
.list li{
    margin-top: 20px;
    margin-left: 30px;
}
.list li:first-child a{ 
    color: #7E7E82;
}
.list li:first-child::before{
    content: '';
    display: inline-block;
    width: 10px;
    height: 30px;
    border-radius: 5px;
    vertical-align: middle;
    background-color: #41F6D7;
    /* margin-bottom: 5px; */
    transform: translateX(-35px);
    margin-right: -10px;
}
.list a:hover{
    background-color: #FF3E79;
}
/********Здесь был section*******/
.footer{
    padding-left: 30px;
    padding-top: 40px;
}
.connection>button{
    margin-right: 5px;
    margin-bottom: 10px;
}
.phone::before{
    background: url('photo/ic/icon.svg') no-repeat 50% 50%;
}
.message::before{
    background: url('photo/img/message.svg') no-repeat 50% 50%;
}
.contact::before{
    background: url('photo/img/user.svg') no-repeat 50% 50%;
}
.phone::before, .message::before, .contact::before{
    content: '';
    width: 40px;
    height: 40px;
    display: inline-block;
    background-color: #FF3E79;
    border-radius: 50%;
    transition: 0.2s;
}
.phone:hover::before{
    background-color: rgb(62, 62, 221);
    transform: scaleX(-1);
}
.message:hover::before{
    background-color: rgb(62, 62, 221);
    transform: scaleX(-1);
}
.contact:hover::before{
    background-color: rgb(62, 62, 221);
    transform: scaleX(-1);
}
.site:hover{
    color: red;
}
.number{
    font-weight: bold;
}
.language>button{
    margin-right: 5px;
    margin-bottom: 30px;
}
.ru::before{
    content: 'ru';
    font-size: 20px;
    line-height: 30px;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    background-color: white;
    color: #7E7E82;
    display: inline-block;
    transition: 0.4s;
}
.en::before{
    content: 'en';
    font-size: 20px;
    line-height: 30px;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    background-color: white;
    display: inline-block;
    transition: 0.4s;
}
.ch::before{
    content: 'ch';
    font-size: 20px;
    line-height: 30px;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    background-color: white;
    display: inline-block;
    transition: 0.4s;
}
.ru:hover::before, .en:hover::before,
.ch:hover::before{
    background-color: blue;
    color: white;
}